<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148420508195-ihhp2lm7u1lv8cdmobqgjgfl2va6dh57.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148420508195-ihhp2lm7u1lv8cdmobqgjgfl2va6dh57</string>
	<key>API_KEY</key>
	<string>AIzaSyAuzj_n1DhcLOSUrqlpBEyJ9w7BhMn0Zlw</string>
	<key>GCM_SENDER_ID</key>
	<string>148420508195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaseali.FirebaseAuthTest</string>
	<key>PROJECT_ID</key>
	<string>fir-pairstest</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-pairstest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:148420508195:ios:b22dea02f9b667f4894f96</string>
</dict>
</plist>
